.message{
    width:fit-content;
    margin:10px;
    padding: 10px;;
}

.message_user{
    margin-left: auto;
    color:white;
    text-align: left !important;
}

.message_userCard{
    background-color: #0b81ff !important;
}

.message_guest{
    background-color: #e9e9eb !important;
}
